version: '3'
services:
  backend:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    environment:
      DB_DSN: "root:password@tcp(db:3307)/ticketing_db?parseTime=true"
      JWT_SECRET: "secret"
      REDIS_ADDR: "redis:6379"

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ticketing_db
    ports:
      - "3307:3307"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"